/*impotamos las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,500&family=Poppins:wght@300;400;700&display=swap');

*{
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}

header nav{
    display: flex;
    align-items: center;
    background-color: #001752 ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;/* hace que el elemento <header> quede fijo en la parte superior de la pantalla, independientemente de la posición del contenido*/
    z-index: 1000; /*La propiedad z-index: 1000 se utiliza para asegurarse de que el elemento <header> se sitúa encima de cualquier otro elemento de la página que tenga un índice de apilamiento menor.*/
}
header nav ul{
    list-style-type:none;
    margin:auto;
    overflow: hidden;
}

nav li{
    float: left;
}
nav li a{
    display: block;
    color:#fff;
    text-align: center;
    padding:20px 40px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav li a:hover,.item-contacto-fb:hover,.item-contacto-instagram:hover,.item-contacto-twitter:hover,.item-contacto-whatsapp:hover{
    cursor: pointer;
    background-color: #05287a;
}

.banner{
    width: auto;
    height: 300px;
    margin-top: 150px;
    background-image: url(img/doctor-bata-blanca-usando-tableta-digital-leyendo-datos-medicos-dispositivo-que-trabaja-hospital-suplente.jpg);
    background-size: cover;
    background-position: center;
}
.banner h1{
    color:#978787;
    padding: 50px 50px;
}
.info-imagenes, .servicios, .contactos{
    max-width: 80%;
    text-align: center;
    margin: 50px auto 0 auto;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    grid-gap: 0px;
    grid-row-gap: 30px;
    width: 100%;
    transition: .3s;
}
.servicios{
    margin-top: 0;
}
.info-imagenes .item, .servicios .item{
    width: 300px;
}

.info-imagenes .item img, .servicios .item img{
    width: 250px;
    object-fit: cover;
}
.info-imagenes .item h1{
    font-size: 18px;
}
.titulo-servicio, .titulo-contacto,.titulo-acerca-de{
    margin-top: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 60px;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.contactos{
    margin-top: 0;
    max-width: 100%;
}
.item-contacto-fb,.item-contacto-instagram,.item-contacto-twitter,.item-contacto-whatsapp{
    text-align: center;
    max-width: 100%;
    height: 100px;
}
.contactos img{
    width: 90px;
    margin: auto;
}
.item-contacto-fb{
    background-color:  #3b5998;
}
.item-contacto-instagram{
    background-color:  #C13584;
}
.item-contacto-twitter{
    background-color:  #00acee;
}
.item-contacto-whatsapp{
    background-color:  #2BB741;
}

.nosotros{
    text-align: center;
    margin: auto;
    width: 400px;
    height: 600px;
}
.nosotros img{
    width: 380px;;
}
.nosotros p,.parrafo p{
    text-align: justify;
}


.acerca-de,.parrafo{
    display: flex;
}
.parrafo{
    margin: 10px 5px;
}
.acerca-de{
    max-width: 80%;
    margin: auto;
    align-items: center;
}
.trayectoria-somos{
    height: 600px;
}
.trayectoria,.somos{
    width: 700px;
    height: 270px;
    margin: 0 10px;
}
.trayectoria h2,.somos h2,.nosotros h2{
    text-align: center;
}

.trayectoria img,.somos img{
    height: 200px;
    margin: 0 10px 0 10px;
}

footer{
    background-color: #000;
    color: #fff;
    text-align: center;
}
